extends layout
block content
  table
    thead
    tbody
    tr
      td client ID 
      td=clientId
    tr
      td authorization code
      td=authCode

  form(action='/launch/access', method='get')
    input(type="hidden", name="code" value=authCode)
    input(type="hidden", name="state" value=state)
    button#btnSubmit(type="submit") Get access code